/.idea
/.vscode
/.nova
/.zed
/.fleet
.DS_Store
Thumbs.db
/npm-debug.log
/yarn-error.log
/.phpactor.json
/.phpunit.result.cache
/phpunit.cache
/auth.json
/.env
/.env.backup
/.env.production
/Homestead.json
/Homestead.yaml
/storage/*
!/storage/app/.gitignore
!/storage/framework/.gitignore
!/storage/logs/.gitignore
/storage/*.key
/storage/pail
/storage/*.log
/public/storage
/bootstrap/cache
/vendor
/node_modules
/public/storage/
/public/uploads
/public/build
/public/hot
*.log
*.bak
*.swp
/phpunit.cache